@import "globals";

.rate-processor {
  position: relative;
  height: 600px;
  margin: 0 -40px;
  border: 1px solid $grey-2;
  background-color: $grey-1;

  .content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    font-size: 0;

    .rate-bar {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 8px;
      //border-right: 1px solid $grey-1;

      &:nth-of-type(7n) {
        border-right: 1px solid $grey-2;
      }

      > div {
        position: absolute;
        right: 1px; bottom: 0; left: 1px;
        background-color: white;
        //border-top: 4px solid $grey-3;
      }
    }
  }

  .dark .rate-bar > div {
    background-color: $grey-2;
    border-top: 2px solid $grey-5;
  }

  .prediction .rate-bar > div {
    background-color: transparent;
    border-top: 2px solid $color-primary;
  }
}
